<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Our imports -->
  <script src="../../Public/dist/bundle.js"></script>
  <link rel="stylesheet" href="../../Public/css/form.css">
  <!--Third party imports -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div id="user_input" class="container">
    <h2>Ray Tracer</h2>

    <h3>Choose object specification</h3>

    <form id="shape" name="shape" class="object_spec">
      <div class="form-group" id="object_type">
        <label for="type">Type</label>
        <select name="shape" class="form-control" id="type">
          <option>Sphere</option>
          <option>Cube</option>
        </select>
      </div>
    </form>

    <form name="size" id="size" class="object_spec">
      <label for="size">Size</label>
      <div class="form-group row" id="size">
        <div class="col-xs-2">
          <label for="size_x">x</label>
          <input name="x" class="form-control" id="size_x" type="text" value="50">
        </div>
        <div class="col-xs-2">
          <label for="size_y">y</label>
          <input name="y" class="form-control" id="size_y" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="size_z">z</label>
          <input name="z" class="form-control" id="size_z" type="text" value="100">
        </div>
      </div>
    </form>

    <form name="point" id="point" class="object_spec">
      <label for="position">Position</label>
      <div class="form-group row" id="position">
        <div class="col-xs-2">
          <label for="pos_x">x</label>
          <input name="x" class="form-control" id="pos_x" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="pos_y">y</label>
          <input name="y" class="form-control" id="pos_y" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="pos_z">z</label>
          <input name="z" class="form-control" id="pos_z" type="text" value="100">
        </div>
      </div>
    </form>

    <form name="color" id="color" class="object_spec">
      <label for="colour">Colour</label>
      <div class="form-group row" id="colour">
        <div class="col-xs-2">
          <label for="colour_r">R</label>
          <input name="r" class="form-control" id="colour_r" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="colour_g">G</label>
          <input name="g" class="form-control" id="colour_g" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="colour_b">B</label>
          <input name="b" class="form-control" id="colour_b" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <br>
          <label for="cp"></label>
          <input type="color" id="color_picker" value='#3355cc'>
        </div>
      </div>
    </form>

    <form name="material" id="material" class="object_spec">
      <label for="material">Material</label>
      <div class="form-group" id="material">
        <select name="material" class="form-control" id="material">
          <option>Plastic</option>
          <option>Metal</option>
          <option>Glass</option>
        </select>
      </div>
    </form>

    <br>
    <h3>Choose environment specification</h3>

    <form id="user_view" name="user_view" class="user_view_spec">
      <div class="form-group" id="view_type">
        <label for="view">Type</label>
        <select name="view" class="form-control" id="view">
          <option>Top Down</option>
          <option>Side View</option>
        </select>
      </div>
    </form>

    <form name="filename" id="filename" class="env_spec">
      <div class="form-group">
        <label for="filename">Filename</label>
        <input name="filename" type="text" class="form-control" id="filename" value="scene">
      </div>
    </form>

    <form name="winFrame" id="winFrame" class="env_spec" >
      <label for="scene">Scene Size</label>
      <div class="form-group row" id="scene">
        <div class="col-xs-2">
          <label for="scene_x">x</label>
          <input name="Width" class="form-control" id="Width" type="text" value="500">
        </div>
        <div class="col-xs-2">
          <label for="scene_y">y</label>
          <input name="Height" class="form-control" id="Height" type="text" value="500">
        </div>
      </div>
    </form>

    <form name="background" id="background" class="env_spec">
      <label for="background_color">Background Colour</label>
      <div class="form-group row" id="background_color">
        <div class="col-xs-2">
          <label for="background_r">R</label>
          <input name="r" class="form-control" id="background_r" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="background_g">G</label>
          <input name="g" class="form-control" id="background_g" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="background_b">B</label>
          <input name="b" class="form-control" id="background_b" type="text" value="100">
        </div>
      </div>
    </form>


    <h4>Choose light specification</h4>

    <form name="position" id="position" class="env_spec">
      <label for="light_position">Position</label>
      <div class="form-group row" id="light_position">
        <div class="col-xs-2">
          <label for="light_x">x</label>
          <input name="x" class="form-control" id="light_x" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="light_y">y</label>
          <input name="y" class="form-control" id="light_y" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="light_z">z</label>
          <input name="z" class="form-control" id="light_z" type="text" value="100">
        </div>
      </div>
    </form>

    <form name="rgbColor" id="rgbColor" class="env_spec" >
      <div class="form-group">
        <label for="colour">Colour</label>
        <input type="text" class="form-control" id="color" value="100">
      </div>
    </form>

    <form name="intensity" id="intensity" class="env_spec">
      <div class="form-group">
        <label for="light_intensity">Intensity</label>
        <input name="intensity" type="text" class="form-control" id="light_intensity" value="100">
      </div>
    </form>
    <h4>Choose camera specification</h4>

    <form name="camera" id="camera" idclass="env_spec">
      <label for="cam_position">Position</label>
      <div class="form-group row" id="cam_position">
        <div class="col-xs-2">
          <label for="cam_x">x</label>
          <input name="x" class="form-control" id="cam_x" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="cam_y">y</label>
          <input name="y" class="form-control" id="cam_y" type="text" value="100">
        </div>
        <div class="col-xs-2">
          <label for="cam_z">z</label>
          <input name="z" class="form-control" id="cam_z" type="text" value="100">
        </div>
      </div>
    </form>

    <button type="button" onclick="window.harvestAndSend()" id="submit">Render!</button>


  </div>

  <div id="svg"/>

</body>

</html>