#user_input {
    float:left; 
    width:50%;
}
g {
    stroke-width: 4;
    stroke: #000;
    stroke-linecap: round;
}

g.fill {
    fill: #3ff;
}

body {
    -ms-touch-action: none;
}

#canvasBackground {
    fill: lightgrey;
}

#inventoryBackground {
    fill: grey;
}

.inventory {
    fill: red;
}

.draggable {
    fill: green;
    stroke-width: 0;
    cursor: move;
}

.tooltip-box {
    position: absolute;
    display: none;
    z-index: 9999;
    width: 300px;
    border: 1px solid black;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px 2px;
}

